footer {
  background-color: $site-blue;
  min-width: 100%;
  max-width: 1280px;
  height: 100px;
  padding: 0 25px;
  .footmargin {
    margin: 0 auto;
    width: 980px;
    height: 72px;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
  }
  .logo {
    width: 92px;
    height: 42px;
  }
  #white-logo {
    @include background("../assets/logo/logo-white.png");
  }
  p {
    margin: 0 auto;
    color: $site-white;
    font-size: 12px;
    font-weight: normal;
    align-self: center;
  }
  .socials {
    height: 23px;
    width: 114px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-self: center;
    div {
      height: 23px;
      width: 23px;
    }
    #fb {
      @include background("../assets/logo/facebookWHT.png");
    }
    #insta {
      @include background("../assets/logo/instagramWHT.png");
    }
    #tw {
      @include background("../assets/logo/twitterWHT.png");
    }
  }
}

@media all and (max-width: 1200px) {
  footer {
    min-width: 100%;
    .footmargin {
      width: 95%;
    }
  }
}
